.messages{
   
    



    

} 

.messages__container {

    display: flex;
    gap: 35px;
    width: 100%;
    


}

._container{

} 

.messages__sidebar{
    border-radius: 10px;
   
    padding:44px 0px;
   
    
    
    /* flex: 1 1 auto; */
    

    min-width:385px;
    background: #fff;

    height: calc(100vh - 84px);


    

} 
.messages__list::-webkit-scrollbar{
    
    display: none;
}

.messages__list{
    
    overflow: auto;
 


    
    width: 100%;
    
}
.messages__sidebar-title{
    padding:0px 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1em;

    color: #A303A0;

} 

.messages__contacts{
    display: flex;
    padding-top:15px;
    height: 100%;

} 

.messages__main{

} 

.messages__chat{

} 
