
.chat__message{
    display: flex;
    gap: 11px;
    margin-bottom:19px;

    position: relative;
    display: flex;
    gap: 20px;
    align-items: flex-end;

    justify-content: flex-end;

} 

.chat__message-content::before{
    position: absolute;
    content: '';

    right:-9px;
    bottom: 0;
    
    width: 9px;
    height: 12px;
    
    background: url('../../../img/message_decor.svg');
}

.message__avatar {
    border-radius:100%;
    overflow: hidden;
    order: 2;
    min-width: 34px;

}

.chat__message-content {
    padding: 11px 6px 5px 14px;
    position: relative;
    max-width: 50%;
    width: 100%;
    background: rgba(73, 0, 87, 0.8);
    border-radius: 10px 10px 0px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #FBB03B;

}

.chat__message-text {

}

.chat__message-info {
    display: flex;
    gap:5px;


}

.chat__message-time {

}

.chat__message-state {

}