
.post {

    &__person {
        display: flex;
        padding-bottom:14px;
        align-items: center;
        gap: 8px;
    }

    &__avatar {
        border-radius:100%;
        overflow: hidden;
    }

    &__person-info {}

    &__person-name, &__author , &__likes-count ,&__comments-count{
        color: #490057;
 
        font-size: 16px;

        font-weight: 700;
      
    }

    &__preson-time {}

    &__content {}

    &__cover {
        max-width:100%;
        height: 256px;
        margin-bottom: 21px;
    }

    &__cover-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    &__text {
        display: flex;
    }

    &__author {}

    &__article {}

    &__data {
        display: flex;
        gap: 21px;
    }

    &__info-item {
        display: flex;
        align-items: center;
        gap: 5px;;    
    }   

    &__likes-count {}

    &__comments-count {}
}