.posts__item{
    
} 

.post__person {
    display: flex;
    
}

.post__avatar {
    
}

.post__person-info {
    
}

.post__person-name {
    
}

.post__preson-time {
    
}

.post__content {
    
}

.post__cover {
    
}

.post__cover-img {
    
}

.post__text {
    
}

.post__author {
    
}

.post__article 


.post__info{}

.post__info-item {
    display: flex;
    align-items: center;
    
}

.post__likes-count {
    
}

.post__data{
    display: flex;
}

.post__comments-count {
    
}
