

.new_post_dialog-show{
  

   

    pointer-events: all;
}


.newp__zone{
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.70);
    opacity:0;
    transition: opacity 0.6s ease;
   
}

.newp__container {
    position: absolute;

    transform: translate(0,-140%);
    border-radius: 10px;
    background: #FDFDFD;
    box-shadow: 0px 4px 26px -3px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    max-width: 662px;
    max-height: 489px;
    transition: transform 0.6s ease;

    display: flex;

    flex-direction: column;
    
    
}


.new_post_dialog-show .newp__zone{opacity:1;}
.new_post_dialog-show .newp__container{transform: translate(0);}

.newp__content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding:22px;
    padding-top:0px;
}

.newp__title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top:18px;
    padding-bottom:15px;
    border-bottom: 1px solid #E4E4E8;
    margin-bottom:36px;
    


    
} 



.newp__main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    
} 

.newp__person {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #490057;
    font-size: 14px;
  
    font-weight: 700;
    
}

.newp__avatar {
    
    
}


.newp__person-info {
    
}

.newp__person-name {
    
}

.newp__input , .newp__input::placeholder{
    margin-top:25px;
    color: #A303A0;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    flex: 1 1 auto;
    resize: none;
    
}

.newp__add {
    padding:17px 22px;
        border-radius: 7px;
    background: #F7F7F8;

        color: #490057;
    font-size: 14px;

    font-weight: 700;
    
}

.newp__add-title {
    
}

.newp__publish{
    border-radius: 10px;
    border: 1px solid #FDFDFD;
    background: #490057;
    padding: 12px;

    color: #FBB03B;
    font-size: 16px;
    margin-top:15px;
    font-weight: 700;
    
}