.people__active-item {
    display: flex;
}

.people__active-avatar {
    width:35px;
    margin-right:6.2px;
}

.people__active-info {
    flex: 1 1 auto;

}

.people__active-name {

}

.people__active-state {

}

.people__active-time {

}
