.messages__contact{
    
    width: 100%;
    padding:0px 30px;
    cursor: pointer;
    transition: background 0.3s ease;

} 
a{
    display: block;
}

.messages__contact:hover{
    background: rgba(230, 230, 234, 0.5);
    border-color:transparent;
}

.messages__contact-container{
    display: flex;
    padding:20px 0px;
    align-items: center;
    border-bottom:0.5px solid #E6E6EA;
    
    position: relative;
}

.messages__contact-container::before{
    position: absolute;
    content: '';
    border-radius:6px;
    right: 0;
    height: 12px;
    width: 12px;
    background: #E6E6EA;
}
.contact_online::before{
    background: #FBB03B;
}
.messages__contact__avatar{
    border-radius:50px;

    overflow: hidden;
    margin-right:11px;

} 

.messages__contact-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #490057;


}
